*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #222222;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
}

.navbar .logo{
    font-size: 24px;
    font-family: "volkhov", sans-serif;
}

.navbar .logo-icon{
    position: fixed;
    top: 3%;
    left: 26%;
    transform: translate(-50%, -50%);
}

.navbar .nav-link ul{
    display: flex;
    font-size: 16px;
    list-style: none;
}

.navbar .nav-link ul li{
    margin: 30px 15px;
}

.navbar .nav-link ul li a{
    text-decoration: none;
    color: #222222;
}

.button{
    padding: 0px 30px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #FA7436;
    cursor: pointer;
}

/* Do Button Udjust */

.header{
    position: absolute;
    padding: 50px 350px;
}

.header .header-content h1{
    font-size: 64px;
    font-family: "volkhov", sans-serif;
}

.header .header-content h1 span{
    font-family: "volkhov", sans-serif;
    color: #FA7436;
}

.header .header-content p{
    font-size: 20px;
    color: #666666;
}

.header .section-button{
    position: absolute;
    padding: 80px 0px;
}

.header .section-button a{
    padding: 20px 30px;
    border-radius: 5px;
    outline: 2px solid;
    color: #FA7436;
    text-decoration: none;
    position: relative;
}